.env
venv

# Django app files
api/__pycache__/
api/migrations/__pycache__
myshowlist/__pycache__

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
